<section class="recommendations">
  <p ng-show="recommendations.hasActiveRecommendations()">
    <translate translate-value-count="{{ recommendations.count() }}">
      rlRecommendations.Your campaign has { count } active recommendations
    </translate>
  </p>

  <ul>
    <li ng-repeat="recommendation in recommendations.items">
      <details class="{{ recommendation.severity || 'warning' }}">
        <summary>
          {{ recommendation.title }}
          <button>
            <translate>rlRecommendations.Apply</translate>
          </button>
          <button>
            <translate>rlRecommendations.Dismiss</translate>
          </button>
        </summary>
        <p>{{ recommendation.description }}</p>
      </details>
    </li>
  </ul>

  <div ng-show="showWellDoneMessage()">
    <button ng-click="closeWellDoneMessage()" type="button" aria-hidden="true">×</button>
    <strong>
      <translate>rlRecommendations.Well done</translate>
    </strong>
    <translate>rlRecommendations.You have no active recommendations</translate>
  </div>
</section>