@import "rl_seeds/variables";

[ui-view=recommendations] {
  padding: $spacing-default;
  display: inline-block;
  width: 50%;
  float: left;

  em {
    color: $color-action;
    font-weight: 700;
    font-size: 1.5em;
    vertical-align: middle;
  }

  ul {
    padding: $spacing-default;
  }

  li + li {
    margin-top: $spacing-small;
  }

  details {
    $border: 1px solid $color-light;
    border: $border;

    &[open] summary {
      border-bottom: $border;
    }

    & > p {
      padding: $spacing-default;
    }
  }

  summary {
    $height: $spacing-large;

    user-select: none;
    overflow: auto;
    line-height: $height;

    &::-webkit-details-marker {
      color: $color-action;
    }

    button {
      min-width: 5 * $spacing-default;
      height: $height;
      float: right;
    }
  }
}
