rl-publisher-filter-nav {
  nav {
    ul li {
      line-height: 2;
      list-style: none;
    }

    ul li ul {
      padding-left: 10px;
    }

    .nav-group:before {
      font-family: 'FontAwesome';
      -webkit-font-smoothing: antialiased;
      content: '\f067';
      padding-right: 5px;
    }
  }
}