<nav>
  <form>
    <rl-date-range options="dateRangeOptions" ng-model="selectedDateRange"></rl-date-range>
    <fieldset>
      <label>{{ 'rlPublisherFilterNav.Filter by:' | translate }}</label>
      <select name="webPublisherCampaign"
          ng-model="publisherFilter.selectedPublisher"
          ng-options="(p.publisher.publisherName
                      + ' ' +
                      (p.publisher.geoType | capitalize | surroundWithParenthesis)) for p in publisherFilter.publishers"
          >
          <option value="">{{ 'rlPublisherFilterNav.All Publishers' | translate }}</option>
      </select>
      <select name="adGroup"
          ng-options="adGroup for adGroup in publisherFilter.selectedPublisher.adGroups"
          ng-model="publisherFilter.selectedAdGroup"
          >
          <option value="">{{ 'rlPublisherFilterNav.All Ad Groups' | translate }}</option>
      </select>
    </fieldset>
  </form>

  <article>
    <input type="checkbox" id="staged_changes" ng-disabled='countStagedChanges() === 0'>
    <label for="staged_changes">
      <translate translate-value-count="{{ countStagedChanges() }}">
          rlPublisherFilterNav.{ count } Changes Ready To Publish
      </translate>
    </label>
  </article>
</nav>
