@import "rl_seeds/variables";

main > nav {
  $nav-height: ($default-spacing * 3);

  background-color: rgba($color-info, 0.9);
  color: $color-white;
  box-shadow: 0 ($default-spacing / 2) 0 $color-shadow;
  height: $nav-height;
  text-align: right;
  padding: ($default-spacing / 2) $default-spacing;
  position: sticky;
  top: 0;

  form {
    height: 100%;

    fieldset {
      display: inline-block;
      height: 100%;

      & + fieldset {
        margin-left: ($default-spacing - 4px); // The magic spacing added to inline elements.
        border-left: 1px solid $color-light;
        padding-left: $default-spacing;
        position: relative;
      }
    }
  }

  label {
    line-height: 2em;
  }

  select, #{$inputs} {
    height: 100%;
    width: 180px;
    border-color: transparent;
    background-color: transparent;
    color: $color-white;
    cursor: pointer;

    &:not(:disabled):hover {
      border-color: $color-white;
    }
  }

  select {
    background-image: $arrow-image-white;
    &:-moz-focusring {
      text-shadow: 0 0 0 $color-white;
    }
  }
}
