@import "_rl_variables";

rl-publisher-filter-nav {

  nav {
    padding-left: 0 !important;

    a:hover{
      text-decoration: none;
      color: $brand-info;
    }

    li {
    line-height: 2;
    list-style: none;
    display: block;
    }

    li ul {
      padding-left: 0;
    }

    .nav-group {
      border-bottom: 1px solid $gray;
      border-left: 4px solid transparent;
      padding-left: 10px;
      overflow: hidden;

      &:hover {
        border-left-color: $brand-info;
      }

      & a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100%;
      }

    }

  }

}