<nav>
  <form>
    <fieldset>
      <label><translate>rlPublisherFilterNav.Filter by:</translate>
        <select name="webPublisherCampaign"
            ng-model="selectedPublisher"
            ng-options="(p.publisher.publisherName
                        + ' ' +
                        (p.publisher.geoType | capitalize | surroundWithParenthesis)) for p in publishers"
            >
            <option value="">{{ 'rlPublisherFilterNav.All Campaigns' | translate }}</option>
        </select>
      </label>
      <select name="adGroup"
          ng-options="adGroup for adGroup in selectedPublisher.adGroups"
          ng-model="selectedAdGroup"
          >
          <option value="">{{ 'rlPublisherFilterNav.All Ad Groups' | translate }}</option>
      </select>
    </fieldset>
    <rl-date-range></rl-date-range>
  </form>
</nav>
