<article id="new_creative">
  <header>
    <h1><translate>newCreative.Add a Creative</translate><br>
    <span><translate>newCreative.Add a master creative as a template for different publishers.</translate></span>
  </h1>
  </header>

  <section class="template">
    <rl-creative-card campaign="campaign"
                      ng-model="masterCreative"
                      publisher="masterPublisher">
    </rl-creative-card>
  </section>

  <section class="creatives">
    <rl-creative-card campaign="campaign"
                      ng-repeat="publisher in publishers"
                      publisher="publisher"
                      register-save-action="trigger.registerListener"
                      linked-to="masterCreative">
    </rl-creative-card>
  </section>

  <fieldset class="actions">
    <button type="submit" ng-click="save()" translate>newCreative.Add</button>
    <button type="button" rl-back translate>newCreative.Cancel</button>
  </fieldset>
</article>
