@import "rl_seeds/variables";

article#new_creative {
  padding: $spacing-default;
  border-top: $spacing-small solid $color-info;
  box-shadow: inset 0 $spacing-small $color-shadow;

  padding: 15px;

  & > header {
    padding: 1rem;
  }
  section.template {
    margin: 0.5rem;

    article {
      width: 20rem;
      margin: 0 auto;
      border: 1px solid $color-light;
      box-shadow: 7.5px 7.5px rgba(0, 0, 0, 0.075);

      button {
        display: none;
      }
    }
  }
  section.creatives {
    article {
      float: left;
    }
  }

  & > fieldset {
    button {
      min-width: 5em;
    }
  }
}
