<article id="new_creative">
  <header>
    <h1>Add a Creative</h1>
    <p>
      Add a master creative as a template for different publishers.
    </p>
  </header>

  <section class="template">
    <rl-creative-card campaign="campaign"
                      ng-model="masterCreative"
                      publisher="masterPublisher">
    </rl-creative-card>
  </section>

  <section class="creatives">
    <rl-creative-card campaign="campaign"
                      ng-repeat="publisher in publishers"
                      publisher="publisher"
                      linked-to="masterCreative">
    </rl-creative-card>
    <br style="clear: both"/>
  </section>

  <fieldset class="actions">
    <button type="submit" rl-back translate>newCreative.Add</button>
    <button type="button" rl-back translate>newCreative.Cancel</button>
  </fieldset>
</article>
