@import "rl_seeds/variables";
@import "rl_seeds/mixins";

#new_creative {
  padding: $spacing-default;
  border-top: $spacing-small solid $color-info;
  box-shadow: inset 0 $spacing-small $color-shadow;

  section.template {
    margin: 0.5rem;

    article {
      @include dialog();
      width: 20rem;
      margin: 0 auto;
      border: 1px solid $color-light;

      button {
        display: none;
      }
    }
  }

  section.creatives {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
  }

  & > fieldset {
    button {
      min-width: $spacing-default / 3;
    }
  }
}
