<article id="new_creative">
  <header>
    <h2>Add a Creative</h2>
    <p>
      Add a master creative as a template for different publishers
    </p>
  </header>

  <section class="template">
    <rl-creative-card campaign="campaign" ng-model="masterCreative">
    </rl-creative-card>
  </section>

  <section class="creatives">
    <rl-creative-card campaign="campaign"
                      ng-repeat="publisher in publishers"
                      publisher="publisher"
                      linked-to="masterCreative">
    </rl-creative-card>
    <br style="clear: both"/>
  </section>

  <footer>
    <button type="submit" ng-click="back()" translate>newCreative.Cancel</button>
    <button type="button" ng-click="back()" translate>newCreative.Add</button>
  </footer>
</article>
