@import "rl_seeds/variables";

article#new_creative {
  & > header {
    padding: 1rem;
  }
  section.template {
    margin: 0.5rem;

    article {
      width: 20rem;
      margin: 0 auto;
      box-shadow: 7.5px 7.5px rgba(0, 0, 0, 0.075);

      button {
        display: none;
      }
    }
  }
  section.creatives {
    article {
      float: left;

      button {
        background: transparent;

        &.enabled  { color: green; }
        &.disabled { color: gray; }
      }
    }
  }

  & > footer {
    margin-right: 4rem;
    padding: 1rem;
    text-align: right;
  }
}
