@import "rl_seeds/variables";
@import "rl_seeds/mixins";
@import "font-awesome";

[ui-view=creative-metrics] {
  clear: both;
  width: 100%;
  overflow: auto;
  padding: $spacing-default;

  table {
    margin: 0 auto;
    width: 100%;
  }

  thead {
    background-color: $color-bright;
    border-bottom: 1px solid $color-light;
  }

  tr {
    border-bottom: 1px solid #DDDDDD;
  }

  th, td {
    &:first-of-type {
      width: 250px;
    }
    &:nth-of-type(2) {
      width: 90px;
    }

  }

  [rel="new-creative"] {
    @include fa-icon(before, $fa-var-plus);
  }
}
