<article class="creative_card" ng-class="{'linked': isLinked}">
    <button ng-show="linkedTo" ng-click="isLinked ? unlink() : link()">{{ isLinked ? 'Unlink' : 'Link' }}</button>
    <header>
        <span class="publisher">{{ publisher.name }}</span>
        <span class="geotype"  >{{ publisher.geoType }}</span>

        <i class="fa fa-chain"></i>
    </header>
    <input type="text" ng-change="unlink()" ng-model="creative.headLine"           placeholder="Creative Title">
    <input type="text" ng-change="unlink()" ng-model="creative.descriptiveLine[0]" placeholder="Descriptive Line">
    <input type="text" ng-change="unlink()" ng-model="creative.descriptiveLine[1]" placeholder="Descriptive Line">

<!--    <select>
        <option>adg1</option>
    </select>-->
</article>
