@import "rl_seeds/variables";

[ui-view=creative-metrics] {
  .state {
    cursor: pointer;
    border-bottom: 1px dashed transparent;

    &:hover {
      color: $color-bodycopy;
      border-bottom-color: $color-info;
    }

    i {
      padding-right: 6px;
      float: right;
      font-size: 10px;
      margin-top: 6px;

      &.fa-play {
        color: $color-action;
      }
      &.fa-pause {
        color: $color-muted;
      }
    }

  }

  .disabled {
    .state {
      color: $color-light;
      font-weight: bold;
      border-bottom-color: $color-white;
      cursor: default;
    }

    &:hover .state {
      color: $color-muted;
    }
  }
}
