rl-campaign-header {

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  ul:first-child li:first-child {
    font-weight: bold;
  }

  .campaign-info {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-right: 15px;
    margin-left: 25px;
    padding: 15px;
  }

}