rl-campaign-header {
  
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    list-style: none;
  }
  .campaign-name {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    width: 49%;
    line-height: 75px;
    padding-left: 25px;
  }

  .campaign-info {
    column-count:3;
    -moz-column-count:3; 
    -webkit-column-count:3;
    line-height: 2.1428571435;
    position: absolute;
    height: 100%;
    width: 60%;     
    font-size: .83em;
    padding: 15px 0;
    right: 15px;
    display: inline-block;
    column-rule: 1px outset #fff;
    -moz-column-rule: 1px outset #fff; 
    -webkit-column-rule: 1px inset #fff; 
    column-gap: 30px;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    text-align: right;
  }

  .campaign-info li {
    column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    list-style: none;

  }
}