rl-campaign-header {
  
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .campaign-name {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    width: 49%;
    line-height: 75px;
    padding-left: 25px;
  }
  .campaign-info {
    column-count:3;
    -moz-column-count:3; 
    -webkit-column-count:3;
    position: absolute;
    height: 100%;
    width: 100%;      
    margin-right: 15px;
    font-size: 12px;
    display: inline-block;
    padding: 15px;
    width: 50%;
  }
}