<article class="creative_card" ng-class="{'linked': isLinked}">
  <header>
    <span class="master" ng-show="isMaster">Master Template</span>
    <span class="publisher">{{ publisher.name }}</span>
    <span class="geotype">{{ publisher.geoType }}</span>

    <button class="enabled  fa fa-check-circle-o" ng-show=" enabled" ng-click="disable()"></button>
    <button class="disabled fa fa-check-circle-o" ng-show="!enabled" ng-click="enable()"></button>

    <button class="enabled  fa fa-lock"   ng-show=" isLinked" ng-click="unlink()"></button>
    <button class="disabled fa fa-unlock" ng-show="!isLinked" ng-click="link()"  ></button>

  </header>

  <section ng-hide="singleDescLine">
    <input type="text"
           ng-change="unlink()"
           ng-model="creative.headLines[0]"
           placeholder="Creative Title"
           rl-trimspaces
           rl-remaining-chars="{{ rules.headLines[0].charCount }}" />

    <input type="text"
          ng-change="unlink()"
          ng-model="creative.descriptiveLines[0]"
          placeholder="Descriptive Line"
          rl-trimspaces
          rl-remaining-chars="{{ rules.descriptiveLines[0].charCount }}" />

    <input type="text"
          ng-change="unlink()"
          ng-model="creative.descriptiveLines[1]"
          placeholder="Descriptive Line"
          rl-trimspaces
          rl-remaining-chars="{{ rules.descriptiveLines[1].charCount }}" />
  </section>

  <section ng-show="singleDescLine">
    <input type="text"
           ng-change="unlink()"
           ng-model="creative.headLine"
           placeholder="Creative Title"
           rl-trimspaces
           rl-remaining-chars="{{ rules.headLines[0].charCount }}" />
    <textarea ng-change="unlink()"
              ng-model="creative.descriptiveLines[0]"
              placeholder="Descriptive Line"
              rl-trimspaces
              rl-remaining-chars="{{ rules.descriptiveLines[0].charCount }}" /></textarea>
  </section>

  <select ng-model="creative.adGroup"
          ng-options="adGroup.name for adGroup in publisher.adGroups">
    <option value="">Choose an AdGroup...</option>
  </select>
</article>
