@import "rl_seeds/variables";

article.creative_card {
  margin: .5em;
  width: 21em;
  padding: 0.8em;
  position: relative;
  overflow: auto;

  .saved {
    position: absolute;
    left: 50%;
    top: 45%;
    font-size: 75px;
    margin-left: -36px;
    margin-top: -36px;
    opacity: .5;
    color: $color-action;
  }

  header {
    .master {
      font-weight: bold;
      color: $color-info;
    }
    .publisher {
      font-weight: bold;
      display: block;
      float: left;
      max-width: 9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .geotype {
      margin-left: 0.2rem;
      display: inline-block;
      float: left;
    }
    button {
      float: right;
      width: 1.2rem;
      padding: 0;
      height: 1.5rem;
      background: transparent !important;

      &.enabled  { color: $color-action; }
      &.disabled { color: $color-muted; }
    }
  }

  select {
    width: 65%;
    float: right;
  }

  textarea {
    height: 4.3em;
    overflow: hidden;
  }

  textarea, input {
    width: 100%;
    padding-right: 2em;
    margin-bottom: 0.3em;

    & + span {
      position: absolute;
      color: green;
      z-index: 99;
      margin-top: 0.2rem;
      right: 1rem;

      &.negative {
        color: red;
      }
    }

    &:disabled + span {
      display: none;
    }

  }
}
