// Import reachlocal core bootstrap styles
@import "rl_bootstrap";

[ng-click] {
  cursor: pointer;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

section {
  display: block;
  padding: 0 0 30px 30px;
  margin-bottom: 30px;
  line-height: 2.1428571435;
}

.mockup {
  border: 1px solid #cacaca;
  background: #f5f3eb;
  -webkit-box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 5px -2px rgba(0,0,0,0.75);
}