.slide-down {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

  line-height: inherit;
  overflow: hidden;
}

.slide-down.ng-hide-add,
.slide-down.ng-hide-remove {
  display: block!important;
}

.slide-down.ng-hide {
  line-height:0;
}
