@import "rl_seeds/color_palette";
@import "rl_seeds/typography";
@import "rl_seeds/variables";
@import "rl_seeds/elements";

body {
  overflow-y: scroll;
}

// CHART -----------------------------------------------------------------------
.chart {
  padding: $default-spacing;
  display: inline-block;
  width: 50%;
  float: left;

  form {
    text-align: justify;
    padding: $default-spacing;
    &:after {
      content: '';
      width: 100%;
      display: inline-block;
    }
  }

  input[type="checkbox"] {
    display: none;

    & + label {
      user-select: none;
      cursor: pointer;
      display: inline-block;
      width: 60px;
      height: 60px;
      background-color: $color-brand-secondary;
      color: $color-light;
      border-radius: $default-radius;
      text-align: center;
      padding: $default-spacing / 2;
    }

    &:checked + label {
      background-color: $color-info;
    }
  }

  img {
    min-width: 100%;
    max-width: 100%;
  }
}

// FOOTER ----------------------------------------------------------------------
body > footer {
  display: block;
  text-align: right;
}

.editable {
  cursor: pointer;
  border: 1px dashed transparent;
  color: $bodycopy-color;
  padding: ($default-spacing / 5) 8px;
  margin-bottom: 2px;

  &:hover {
    color: $bodycopy-color;
    border-bottom-color: $color-brand-secondary;
  }
}

.editable-wrap {
  width: 100%;
  position: relative;
  margin-bottom: $default-spacing / 5;

  .editable-controls > input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .editable-buttons {
    position: absolute;
    direction: rtl;
    height: 100%;

    button {
      border-radius: 0;
      margin: 0;
      height: 100%;
    }
  }
}