@import "../variables";

select {
  font: $font-bodycopy;
  color: $color-bodycopy;
  outline: none;
  border: 1px solid $color-light;
  background-color: $color-white;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-height: 2em;
  padding: 0 ($default-spacing / 2);
  vertical-align: middle;
}


select {
  appearance: none;
  background-image: $arrow-image;
  background-repeat: no-repeat;
  background-position: right ($default-spacing / 2) top 50%;
  background-size: 1em;
  padding-right: ($default-spacing * 2);
}

@-moz-document url-prefix() {
  select {
    text-indent: 0.01px;
    text-overflow: '';
    padding: ($default-spacing / 5) ($default-spacing) 0 ($default-spacing / 2);
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $color-bodycopy;
  }
}
