<article id="staged_changes">
  <header>
    <h1 translate>rlStagedChanges.Pending to Publish</h1>
    <h2 translate>rlStagedChanges.You have the following changes ready to publish:</h2>
  </header>

  <form name="staged_changes">
    <fieldset>
      <table>
        <caption>
          <translate translate-value-count="{{ stagedTextCreatives.length }}">
            rlStagedChanges.{ count } creatives
          </translate>
        </caption>
        <thead>
          <tr>
            <th translate>rlCampaignTabularData.Ad Text</th>
            <th translate>rlCampaignTabularData.State</th>
            <th translate>rlCampaignTabularData.Ad Group</th>
            <th colspan="2" translate>rlCampaignTabularData.Publisher</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="stagedTextCreative in stagedTextCreatives">
            <td>
              <rl-creative-cell readonly creative="stagedTextCreative"></rl-creative-cell>
            </td>
            <td>{{ 'rlCampaignTabularData.' + stagedTextCreative.state | translate }}</td>
            <td>{{ stagedTextCreative.adGroup.name }}</td>
            <td>
              {{ stagedTextCreative.publisher.publisherName }}
              ({{ 'rlCampaignTabularData.' + stagedTextCreative.publisher.geoType | translate}})
            </td>
            <td>
              <button type="reset" ng-click="remove(stagedTextCreative)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>

    <fieldset class="actions">
      <button type="button" rl-back translate>rlStagedChanges.Publish</button>
      <button type="submit" rl-back translate>rlStagedChanges.Cancel</button>
    </fieldset>
  </form>
</article>
