@import "rl_seeds/variables";

#staged_changes {
  padding: $spacing-default;
  border-top: $spacing-small solid $color-info;
  box-shadow: inset 0 $spacing-small $color-shadow;

  h2 {
    font-size: 1em;
  }

  form[name="staged_changes"] {
    min-width: 800px;
  }

  table {
    width: 100%;

    caption {
      border-bottom: 2px solid $color-info;
      font-weight: bold;
      color: $color-info;
      text-align: left;
      margin-bottom: $spacing-default - 5px;
      padding-bottom: $spacing-default - 10px;
    }

  }
}
