@import "rl_seeds/variables";
@import "rl_seeds/mixins";

#staged_changes {
  padding: $spacing-default;
  border-top: $spacing-small solid $color-info;
  box-shadow: inset 0 $spacing-small $color-shadow;

  h2 {
    font-size: 1em;
  }

  form[name="staged_changes"] {
    min-width: 800px;
  }

  table {
    width: 100%;

    caption {
      color: $color-info;
      border-bottom: .2em solid;
      font-weight: 700;
      text-align: left;
    }

  }

  tr:hover {
    background-color: rgba($color-bright, .5);

    button {
      display: initial;
    }
  }

  tr td:last-of-type {
    position: relative;
    padding: 0;
  }

  tr button {
    margin: 0px;
    font-size: 0px;

    @include unicode(before, $unicode-times);

    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
