<div>
    <label for="dateRangeFrom" translate>
        rlDateRange.From:
    </label>
    <input
        id="dateRangeFrom"
        type="text"
        class="form-control"
        datepicker-popup="yyyy-MM-dd"
        ng-model="from"
        is-open="fromOpened"
        max="to"
        datepicker-options="dateOptions"
        show-button-bar="false" />

    <label for="dateRangeTo" translate>
        rlDateRange.To:
    </label>
    <input
        id="dateRangeTo"
        type="text"
        class="form-control"
        datepicker-popup="yyyy-MM-dd"
        ng-model="to"
        is-open="toOpened"
        min="from"
        max="today"
        datepicker-options="dateOptions"
        show-button-bar="false" />
</div>
