@import "../../../cpi";
.rl-date-range {

  table {
    background-color: $color-light;
    color: $color-brand-dark;
    box-shadow: 7.5px 7.5px 0 $color-shadow;
    border: 1px inset $color-med;
  }

  thead {
    font-weight: 400;

    th button {
      width: 100%;
      &:hover, &:focus {
        color: $color-brand-dark;
        background-color: $color-light;
        box-shadow: none;
      }
    }
  }

  input {
    width: 100px;
  }


  th, td {
    padding: 0;
    text-align: center;
  }

  button {
    border-radius: 0;
    background-color: $color-light;
    color: $color-brand-dark;

    &.btn-info, &:hover {
      background-color: $color-info;
      color: $color-light;
    }

    &:focus {
      box-shadow: none;
    }

    &:disabled, &:disabled:hover {
      color: $color-med;
      background-color: $color-light;
    }
  }

  .glyphicon-chevron-right:before,
  .glyphicon-chevron-left:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: $arrow-image;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .glyphicon-chevron-right:before {
    transform: rotate(-90deg);
  }

  .glyphicon-chevron-left:before {
    transform: rotate(90deg);
  }

  .dropdown-menu {
    position: absolute;
    left: auto !important;
    right: 0;
    margin-top: $default-spacing / 2;
  }

}