@import "../../../rl_seeds/all";

.rl-date-range {

  #{$inputs} {
    width: 100px;
    text-align: center;
  }

  .dropdown-menu {

    position: absolute;
    left: auto !important;
    right: 0;
    margin-top: 0;
    border: 1px solid $color-light;

    table {
      background-color: $color-white;
      color: $color-bodycopy;
      box-shadow: ($default-spacing / 2) ($default-spacing / 2) $color-shadow;
      overflow: hidden;
    }

    thead {
      font-weight: 400;

      th button {
        width: 100%;

        &:not(:disabled) {
          &:hover,
          &:focus {
            background-color: $color-white;
            color: $color-bodycopy;
          }
        }
      }
    }

    th, td {
      padding: 0;
      text-align: center;
    }

    button {
      @include button-color($color-white, $color-info);
      color: $color-bodycopy;

      &:not(:disabled) {
        &:hover {
          color: $color-white;
        }
        &:focus {
          box-shadow: none;
        }
      }

      &:disabled {
        color: $color-light;
      }
    }

    .glyphicon-chevron-right:before,
    .glyphicon-chevron-left:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-image: $arrow-image;
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
    }

    .glyphicon-chevron-right:before {
      transform: rotate(-90deg);
    }

    .glyphicon-chevron-left:before {
      transform: rotate(90deg);
    }
  }
}
