<fieldset class="rl-date-range">
    <input
        id="dateRangeFrom"
        type="text"

        datepicker-popup="yyyy-MM-dd"
        ng-model="from"
        is-open="fromOpened"
        max="to"
        datepicker-options="dateOptions"
        show-button-bar="false" />
    -
    <input
        id="dateRangeTo"
        type="text"

        datepicker-popup="yyyy-MM-dd"
        ng-model="to"
        is-open="toOpened"
        min="from"
        max="today"
        datepicker-options="dateOptions"
        show-button-bar="false" />
</fieldset>