@import "rl_seeds/variables";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts";
@import "fontawesome/scss/font-awesome.scss";

.creative-metrics {
  .state {
    cursor: pointer;
    border-bottom: 1px dashed transparent;

    &:hover {
      color: $color-bodycopy;
      border-bottom-color: $color-info;
    }

    i {
      padding-right: 6px;
      float: right;
      font-size: 10px;
      margin-top: 6px;

      &.fa-play {
        color: $color-action;
      }
      &.fa-pause {
        color: $color-muted;
      }
    }

  }
}