@import "rl_seeds/variables";

.creative-metrics {
  .state {
    cursor: pointer;
    border-bottom: 1px dashed transparent;

    &:hover {
      color: $color-bodycopy;
      border-bottom-color: $color-info;
    }

  }
}