.rl-daterange {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;

  ul {
    display: none;
    position: absolute;
    top: 2em;
  }

  input[type="checkbox"] {
    background-color: red;

    $high-z-index: 100;
    &:checked + label + ul {
      display: initial;
      z-index: $high-z-index;
    }

    &:checked + label:before {
      content: '';
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      z-index: $high-z-index - 1;
    }
  }

  input[type="date"] {
    text-align: right;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button,
    &::-webkit-clear-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-webkit-calendar-picker-indicator:hover {
      background-color: transparent;
    }
  }
}
