$color-brand-primary   : #F16724;
$color-brand-secondary : #666666;
$color-brand-dark      : #333333;

$color-med             : #DADADA;
$color-light           : #FFFFFF;
$color-error           : #D8000C;
$color-success         : #99CC00;
$color-warning         : #9F6000;
$color-info            : #3399CC;

$color-shadow          : rgba($color-brand-dark, .15);