* {
  box-sizing: border-box;
}

body {
  font: $bodycopy;
  color: $bodycopy-color;
  min-width: 1024px;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 2em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.25em;
}

select, button, input {
  font: $bodycopy;
  color: $bodycopy-color;
  outline: none;
  border: 1px solid $color-med;
  background-color: $color-light;
  border-radius: $default-radius;
  margin: 0;
  padding: 0;
  transition: box-shadow .1s;
  min-height: 2em;
  padding: 0 ($default-spacing / 2);
  vertical-align: middle;

  &:focus {
    box-shadow:
      inset 0 1px 1px rgba($color-brand-dark, 0.075),
      0 0 8px rgba($color-success, 0.6);
    border-color: $color-success;
  }
}

select {
  appearance: none;
  background-image: $arrow-image;
  background-repeat: no-repeat;
  background-position: right ($default-spacing / 2) top 50%;
  background-size: 1em;
  font-size: .9em;
  padding-right: ($default-spacing * 2);
}

@-moz-document url-prefix() {
  select {
    text-indent: 0.01px;
    text-overflow: '';
    padding: ($default-spacing / 3.5) ($default-spacing) 0 ($default-spacing / 2);
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

button {
  border: none;
  padding: $default-spacing / 2 $default-spacing;
  cursor: pointer;
  line-height: 1em;
  color: $color-light;
  background-color: $color-med;

  &:hover {
    background-color: darken($color-med, 5%);
  }

  &:first-of-type {
    background-color: $color-success;
    &:hover {
      background-color:  darken($color-success, 5%);
    }
  }

  &:disabled, &:disabled:hover {
    cursor: default;
    background-color: $color-light;
    color: $color-med;
  }
}

summary {
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

table {

  thead {
    font-weight: 700;
    border-bottom: 2px solid $color-med;
    text-align: left;
  }

  td, th {
    padding: $default-spacing;
  }

  th, td {
    vertical-align: middle;
  }

}