@import "color_palette";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

$font-bodycopy : 300 14px/150% 'Open Sans';
$color-bodycopy: $color-mid;
$color-heading : $color-dark;
