<rl-campaign-header overview="campaignOverview"></rl-campaign-header>
<main class="new_creative">
    <rl-publisher-filter-nav creatives="creatives"></rl-publisher-filter-nav>

    <header role="banner">
      <h2>Add a Creative</h2>
    </header>

    <aside>
        <p>
          Add a master creative as a template for different publishers
        </p>

        <rl-creative-card master-of="masterCreative">
        </rl-creative-card>

        <p>Publish a copy of this creative at...</p>
        <ul>
            <li ng-repeat="publisher in publishers">
                <label>
                    <input type="checkbox" ng-model="publisher.selected" checked="checked" />
                    {{ publisher.name }} / {{ publisher.geoType }}
                </label>
            </li>
        </ul>
    </aside>

    <section class="preview">
        <p class="tip" ng-hide="filteredPublishers.length">
            You will see creative previews here when you
            start selecting your desired publishers on
            the left-hand side of this screen.
        </p>
        <rl-creative-card ng-repeat="publisher in filteredPublishers = ( publishers | filter:{selected:true} )"
                      publisher="publisher"
                      based-on="masterCreative">
        </rl-creative-card>
        <br style="clear: both"/>
    </section>

    <footer>
        <button type="submit">save</button>
        <button type="button" ng-click="hideDialog()">cancel</button>
    </footer>
</main>

<footer>
  <rl-locale-selector></rl-locale-selector>
</footer>
