rl-tabular-data {

    tr {
        &.ng-enter {
            animation: slideInRight .5s;
            -webkit-animation: slideInRight .5s;
        }
        &.ng-leave {
            animation: fadeOut .5s;
            -webkit-animation: fadeOut .5s;
        }
    }
}

