@import "rl_seeds/variables";
@import "rl_seeds/mixins";

.creative-metrics {
  clear: both;
  width: 100%;
  overflow: auto;
  padding: $spacing-default;

  table {
    margin: 0 auto;
    width: 100%;
  }

  thead {
    background-color: $color-bright;
    border-bottom: 1px solid $color-light;
  }

  tr {
    border-bottom: 1px solid #DDDDDD;
  }

  th, td {
    &:first-of-type {
      width: 250px;
    }
    &:nth-of-type(2) {
      width: 70px;
    }

  }

  .headline,
  .headline + .editable-wrap input {
    font-weight: 700;
  }

  p {
    margin: 0;
  }

  .editable {
    cursor: pointer;
    border: 1px dashed transparent;
    color: $color-bodycopy;

    &:hover {
      color: $color-bodycopy;
      border-bottom-color: $color-info;
    }

    &.invalid + form input {
      border-color: $color-danger;
    }
  }

  .editable-error {
    display: none;
  }

  .editable-wrap {
    display: block;
    width: 100%;
    position: relative;
    left: -$spacing-small;
    top: -3px;
    margin-bottom: -($spacing-default / 3);

    .editable-controls > input {
      width: 100%;
    }

    .editable-buttons {
      position: absolute;
      direction: rtl;
      height: 100%;

      button {
        margin: 0;
        font-size: 0;
        height: 100%;

        @include unicode(before, '');
        &[type="submit"]:before {
          content: $unicode-check;
        }

        &[type="button"]:before {
          content: $unicode-times;
        }
      }
    }
  }

  .editable-wrap,
  .editable-buttons {
    box-shadow: $spacing-small $spacing-small $color-shadow;
  }

  [rel="new-creative"] {
    @include unicode(before, $unicode-plus);
  }
}
