<div class="details">
  <a class="summary" ng-click="expanded = !expanded">
    {{ recommendation.title }}
  </a>
  <div class="recommendation-actions">
    <button type="button" ng-click="apply()"   class="btn btn-success btn-sm">
      <translate>rlRecommendation.Apply</translate>
    </button>
    <button type="button" ng-click="dismiss()" class="btn btn-danger btn-sm">
      <translate>rlRecommendation.Dismiss</translate>
    </button>
  </div>
  <div class="slide-down" ng-show="expanded == true">
    {{ recommendation.description }}
  </div>
</div>
