<p class="count" ng-show="recommendations.hasActiveRecommendations()">
    <translate translate-value-count="{{ recommendations.count() }}">
        rlRecommendations.Your campaign has { count } active recommendations
    </translate>
</p>

<div ng-repeat="recommendation in recommendations.items" class="details">
  <a class="summary" ng-click="recommendation.toggleExpanded()">
    {{ recommendation.title }}
  </a>
  <div class="recommendation-actions">
    <button type="button" ng-click="dismiss()" class="btn btn-danger btn-sm">
      <translate>rlRecommendations.Dismiss</translate>
    </button>
    <button type="button" ng-click="apply()"   class="btn btn-success btn-sm">
      <translate>rlRecommendations.Apply</translate>
    </button>    
  </div>
  <div class="slide-down" ng-show="recommendation.isExpanded()">
    {{ recommendation.description }}
  </div>
</div>

<div class="congratulations alert alert-success alert-dismissable"
     ng-show="recommendations.showWellDoneMessage()">
    <button ng-click="recommendations.closeWellDoneMessage()" type="button" class="close" aria-hidden="true">×</button>
    <strong>
      <translate>rlRecommendations.Well done</translate>
    </strong>
    <translate>rlRecommendations.You have no active recommendations</translate>
</div>

