@import "rl_seeds/color_palette";
@import "rl_seeds/variables";
@import "rl_seeds/typography";

.recommendations {
  padding: $default-spacing;
  display: inline-block;
  width: 50%;
  float: left;

  em {
    color: $color-action;
    font-weight: 700;
    font-size: 1.5em;
    vertical-align: middle;
  }

  ul {
    padding: $default-spacing;
  }

  li + li {
    margin-top: $default-spacing / 2;
  }

  details {
    $border: 1px solid $color-light;
    border: $border;
    border-radius: $default-radius;

    &[open] summary {
      border-bottom: $border;
    }

    & > p {
      padding: $default-spacing;
    }
  }

  summary {
    $height: $default-spacing * 2;

    user-select: none;
    overflow: auto;
    line-height: $height;

    &::-webkit-details-marker {
      color: $color-action;
    }

    button {
      min-width: 5 * $default-spacing;
      height: $height;
      float: right;
    }
  }
}
