<section >
  <p class="headline"
    editable-text="creative.headLines[$index]"
    onbeforesave="creative.$update()"
    ng-repeat="headLine in creative.headLines track by $index"
    e-required
    ng-class="{'invalid': $error}">
    {{ headLine }}
  </p>
  <p ng-repeat="descriptiveLine in creative.descriptiveLines track by $index"
     editable-text="creative.descriptiveLines[$index]"
     onbeforesave="creative.$update()"
     e-required
     ng-class="{'invalid': $error}">
     {{ descriptiveLine }}
  </p>
  <a href="{{ creative.targetUrl }}" target="_blank">{{ creative.displayUrl }}</a>
</section>
