@import "main/styles/mixins";
@import "rl_variables";

rl-creative-cell {

  $underline-inactive: #CCC;
  $underline-active: #09C;
  $hover-bg: desaturate(lighten($underline-active, 50), 60);
  $width-view: 20em;
  $width-edit: 30em;
  $shadow: rgba(0, 0, 0, 0.075);

  .cell {
    position: relative;
  }

  .view {
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    position: relative;

    i {
      display: none;
      position: absolute;
      right: 3px;
      top: 3px;
    }

    div, b {
      white-space: nowrap;
      overflow: hidden;
      width: $width-view;
      text-overflow: ellipsis;
    }

    &:hover {
      background: $hover-bg;
      i {
        display: block;
      }
    }
  }

  .edit {
    @include box-shadow(3px, 3px, 8px, rgba(0,0,0,0.13));
    position: absolute;
    top: -5px;
    left: -10px;
    background: white;
    min-width: $width-edit;
    z-index: 99;
    border-right: 1px solid rgb(206, 217, 233);
    padding: .5em;

    .edit-buttons {
      position: absolute;
      z-index: 100;
      left: -1.3em;
      width: 1.3em;
      top: .8em;
      text-align: center;
      padding-top: 1px;
      border-left: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      border-top: 1px solid lightgray;
      .fa-check {
        color: desaturate($brand-info, 10%);
        &:hover {
          color: $brand-info;
        }
      }
      .fa-times {
        color: desaturate($brand-danger, 10%);
        &:hover {
          color: $brand-danger;
        }
      }
    }

    .underline {
      border-left: 1px solid $underline-inactive;
      border-right: 1px solid $underline-inactive;
      border-bottom: 1px solid $underline-inactive;
      position: relative;
      height: 1.3em;
      margin-bottom: .5em;

      &:hover {
        border-left: 1px solid $underline-active;
        border-right: 1px solid $underline-active;
        border-bottom: 1px solid $underline-active;
      }

      .white-bg {
        background: #fff;
        position: absolute;
        width: 102%;
        left: -5px;
        top: -6px;
        height: 1.35em;

        input {
          margin: .3em;
          background: #fff;
          border: 0;
          left: 2px;
          line-height: 1em;
          position: relative;
        }
        .headline {
          font-weight: bold;
        }
      }
    }

    .buttons {
      padding-top: .7em;
    }

    input {
      width: 95%;
    }
  }
}