@import "main/styles/mixins";

rl-creative-cell {

  $yellow-bg: #f3ffc6;
  $width: 20em;
  $shadow: rgba(0, 0, 0, 0.075);

  .cell {
    position: relative;
  }

  .view {
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    position: relative;

    i {
      display: none;
      position: absolute;
      right: 3px;
      top: 3px;
    }

    div, b {
      white-space: nowrap;
      overflow: hidden;
      width: $width - 1em;
      text-overflow: ellipsis;
    }

    &:hover {
      background: $yellow-bg;
      i {
        display: block;
      }
    }
  }

  .edit {
    @include box-shadow(3px,3px,20px,rgba(0,0,0,0.25));
    position: absolute;
    background: $yellow-bg;
    min-width: $width + 1em;
    z-index: 99;
    border: 1px solid #c6c6c6;
    padding: .5em;

    .buttons {
      padding-top: .7em;
    }

    input {
      width: 100%;
    }
  }
}