<section>
  <p ng-repeat="headLine in creative.headLines track by $index"
     class="headline"
     editable-text="creative.headLines[$index]"
     onbeforesave="update('headLines', $index, $data)"
     e-required
     e-rl-xcounter="{{ maxChars('headLines', $index) }}"
     ng-class="{'invalid': $error}">
    {{ headLine }}
  </p>

  <p ng-repeat="descriptiveLine in creative.descriptiveLines track by $index"
     editable-text="creative.descriptiveLines[$index]"
     onbeforesave="update('descriptiveLines', $index, $data)"
     e-required
     e-rl-xcounter="{{ maxChars('descriptiveLines', $index) }}"
     ng-class="{'invalid': $error}">
    {{ descriptiveLine }}
  </p>
  <a href="{{ creative.targetUrl }}" target="_blank">{{ creative.displayUrl }}</a>
</section>
