<form>
  <rl-date-range options="dateRangeOptions" ng-model="selectedDateRange"></rl-date-range>
  <fieldset>
    <label>{{ 'rlCampaignFilters.Filter by:' | translate }}</label>
    <select name="webPublisherCampaign"
            ng-model="publisherFilter.selectedPublisher"
            ng-options="(p.publisher.publisherName
                    + ' ' +
                    (p.publisher.geoType | capitalize | surroundWithParenthesis)) for p in publisherFilter.publishers">
      <option value="">{{ 'rlCampaignFilters.All Publishers' | translate }}</option>
    </select>
    <select name="adGroup"
            ng-options="adGroup for adGroup in publisherFilter.selectedPublisher.adGroups"
            ng-model="publisherFilter.selectedAdGroup">
      <option value="">{{ 'rlCampaignFilters.All Ad Groups' | translate }}</option>
    </select>
  </fieldset>
</form>

<article>
  <input type="checkbox" id="staged_changes" ng-disabled="countStagedChanges() === 0">
  <label for="staged_changes">
    <translate translate-value-count="{{ countStagedChanges() }}">
      rlCampaignFilters.{ count } Changes Ready To Publish
    </translate>
  </label>

  <section id="quick_view">
    <p translate>rlCampaignFilters.Pending changes</p>

    <ul>
      <li>
        <translate translate-value-count="{{ countStagedChanges() }}">
          rlCampaignFilters.{ count } changed creatives
        </translate>
      </li>
    </ul>
    <a ui-sref="cpi.campaignStagedChanges" rel="staged_changes" translate>rlCampaignFilters.Review</a>
  </section>
</article>
