@import "rl_seeds/variables";
@import "rl_seeds/mixins";
@import "font-awesome";

@mixin rl-daterange() {
  & > .rl-daterange {

    height: 100%;
    border: 1px solid transparent;
    width: 17em;
    position: relative;
    padding-left: calc(.5em + #{$spacing-small});

    @include fa-icon(before, $fa-var-calendar);
    &:before {
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      left: $spacing-small;
    }

    &:hover {
      border-color: $color-white;
    }

    input[type="checkbox"] {
      display: none;

      & + label {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        cursor: pointer;
        position: relative;

        span {
          text-align: center;
          flex-grow: 1;
          padding: 0 $spacing-small;
          min-height: 2em;
        }

        span:first-of-type:empty:after {
          content: '-\221E';
        }

        span:last-of-type:empty:after {
          content: '+\221E';
        }

        span + span:before {
          content: '-';
          position: absolute;
          display: block;
          width: 1ch;
          height: 1ch;
          line-height: 1ch;
          top: 50%;
          left: 50%;
          margin-left: -.5ch;
          margin-top: -.5ch;
          text-align: center;
        }
      }

      &:checked + label:before {
        background-color: $color-shadow;
      }
    }

    label {
      line-height: 2em;
    }

    ul {
      @include dialog();
      width: 18em;
      left: 0;
      top: calc(100% + #{$spacing-small});

      li {
        & + li {
          margin-top: $spacing-small;
        }

        &:last-of-type {
          border-top: 1px solid $color-light;

          label {
            margin-top: $spacing-small;
          }
        }
      }
    }

    input[type="radio"] {
      display: none;

      & + label {
        display: block;
        cursor: pointer;
        padding: 0 $spacing-small;

        &:hover {
          background-color: $color-bright;
        }
      }

      &:checked + label {
        background-color: $color-info;
        color: $color-white;
      }
    }

    input[type="date"] {
      color: $color-bodycopy;
      width: 50%;
      float: left;
      border: none;

      margin-top: $spacing-small;

      &::-webkit-calendar-picker-indicator {
        color: $color-action;
        opacity: 1;
      }
    }

  }
}
