@import "rl_seeds/variables";
@import "rl_seeds/mixins";
@import "filters.daterange";

[ui-view=filters] {
  @include shadow-block(false);

  $nav-height: ($spacing-default * 3);
  height: $nav-height;
  display: flex;
  padding: $spacing-small $spacing-default;

  background-color: rgba($color-info, 0.9);
  color: $color-white;

  select {
    color: $color-white;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    &:not(:disabled):hover {
      border-color: $color-white;
    }
  }

  select {
    background-image: $image-down-arrow-white;
    width: 22ch;
    &:-moz-focusring {
      text-shadow: 0 0 0 $color-white;
    }
  }

  label {
    line-height: 2em;
  }

  article {
    $width: 14em;
    position: relative;
    min-width: $width;
    padding: 0px;
    cursor: pointer;

    &:hover label[for=staged_changes] em {
      background-color: darken($color-danger, 10);
    }

    section#quick_view {
      @include dialog($color-info);

      text-transform: initial;
      display: none;
      top: calc(95% + #{$spacing-small});
      left: 0px;
      position: absolute;
      text-align: center;
      cursor: default;

      p {
        text-align: left;
      }

      ul {
        margin: $spacing-default auto;
        text-align: left;

        li {
          padding: $spacing-small;
          & + li {
            border-top: 1px solid $color-light;
          }
        }
      }

      em {
        color: $color-action;
        font-weight: 700;
      }

      a[rel='staged_changes'] {
        @include button($color-action);
      }
    }

    label[for=staged_changes] {
      float: right;
      height: 100%;
      width: 100%;
      cursor: inherit;
      line-height: initial;
      padding: ($spacing-default / 3) $spacing-small;
      font-weight: 700;

      em {
        $size: 1.6em;
        display: inline-block;
        min-width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        background-color: $color-danger;
        font-size: .9em;
        font-weight: 700;
        border-radius: 50%;
        vertical-align: middle;
      }
    }

    input#staged_changes {
      display: none;
      $high-z-index: 100;

      &:checked + label {
        &:before {
          content: '';
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: fixed;
          z-index: $high-z-index - 1;
          background-color: $color-shadow;
        }

        & + section {
          display: initial;
          z-index: $high-z-index;
        }
      }

      &:disabled + label {
        cursor: default;
        em {
          background-color: $color-muted;
        }
      }
    }
  }

  form {
    @include rl-daterange();

    flex-grow: 1;
    display: flex;

    fieldset + fieldset {
      margin: 0 0 0 $spacing-default;
      border-left: 1px solid $color-light;
      padding-left: $spacing-default;
    }
  }
}
