<button ng-click="displayDialog()">+</button>
<dialog class="spinme" ng-show="isDialogDisplayed">
    <section>
        <header>
            <h1>Add Creatives</h1>
            <rl-creative publisher="publishers.webPublisherCampaigns[0]">
            </rl-creative>
        </header>
        <main>
            <rl-creative ng-repeat="publisher in publishers.webPublisherCampaigns"
                         publisher="publisher"
                         master-creative="masterCreative">
            </rl-creative>
        </main>
        <footer>
            <button type="submit">save</button>
            <button type="button" ng-click="hideDialog()">cancel</button>
        </footer>
    </section>
</dialog>
