@import "rl_seeds/variables";

article#staged_changes {

  table {
    margin: 0px auto;

    caption {
      border-bottom: 2px solid $color-info;
      font-weight: bold;
      color: $color-info;
      text-align: left;
      margin-bottom: $spacing-default - 5px;
      padding-bottom: $spacing-default - 10px;
    }

    thead {
      background-color: white;
      border-bottom: 2px solid $color-muted;
    }

    tbody {
      section.creative_data {
        p {
          margin-top: $spacing-default - 10px;
        }
        p.creative_headline {
          font-weight: bold;
        }
      }
    }
  }
}
